{% extends "application.html" %}
{% load bootstrap3 %}

{% block content %}
<p>Several awards are needs-based. Please provide us with enough information about how you currently pay for college, so that we can understand your level of need compared against other applicants.</p>
<p>To add additional rows, complete the form and press <em>Save</em>. Another row will appear where you can continue entering data. To delete a row, press the minus button. When finished, press <em>Next</em>.</p>
{{ form.management_form }}
{{ the_table }}
{% endblock %}
