<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>PSU Triangle Scholarship Application</title>

    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static "freemoney/freemoney.css" %}" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container submitted">
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row"><img src="{% static "freemoney/check-square.png" %}" /></div>
      <div class="row">&nbsp;</div>
      <div class="row"><p>You have already submitted your scholarship application! Thank you for your interest this semester.</p></div>
      <div class="row"><p><small>Icon made by <a href="http://www.flaticon.com/authors/freepik">Freepik</a> from <a href="http://www.flaticon.com/">www.flaticon.com</a></small></p></div>
    </div>
  </body>
</html>
