{% extends "application.html" %}

{% block content %}
<p>Welcome to the PSU Triangle scholarship application!</p>

<p>Please submit your responses no later than <strong>11:59 PM on {{ deadline }}</strong>. Winners will be announced during the Corporation Meeting.  Please note that, due to restrictions attached to our scholarship funds, we are not able to award any scholarships to graduating seniors at this time (i.e., undergraduates who will no longer be attending Penn State next semester).</p>

<p>To apply for the <em>Triangle Academic Excellence Award</em> and/or the <em>Studious Pledge Award</em>, you will need:</p>

<ul>
  <li>A copy of your advising transcript (see <a href="https://tutorials.lionpath.psu.edu/public/Docs/ViewUnoffTrans.docx">LionPATH</a> for instructions)</li>
  <li>A few minutes to provide basic contact and demographic information about yourself</li>
</ul>

<p>To apply for other awards, you may want to check the <a href="http://psutriangle.org/information/scholarships/">requirements for each award</a>, but you will generally need:</p>

<ul>
  <li>Enough time to answer one or more essay questions related to your accomplishments, experiences, and/or goals <small>(only for certain awards)</small></li>
  <li>To have met with a faculty member -- please <a href="mailto:louiswust@fastmail.fm">contact me</a> if I didn't already get in touch with you <small>(only for <em>Giff Albright</em> award)</small></li>
  <li>Additional demographic requirements specific to each award</li>
</ul>

<p>Get started by clicking the <em>Next</em> button below! You can exit and come back at anytime, but be sure to click the <em>Save and Close</em> button first.</p>

<p>{% endblock %}
