{% extends "application.html" %}

{% block content %}
<p>IMPORTANT: The application process is simpler than ever this semester! Although the Penn State Chapter of Triangle offers numerous scholarships, you only need to complete this online application if you are applying for the Ean H. C. Hong Memorial Scholarship -- our highest-valued award by far. To apply for the Triangle Academic Excellence Scholarship or the Studious Pledge Scholarship, just send me a copy of your unofficial/advising transcript. I can be reached at louiswust@fastmail.fm.</p>

<p>The purpose of this scholarship is to honor Ean Heng Cheung Hong ps94, who tragically passed away while a brother at our chapter. Specifically, the aim is to reward brothers who (like Ean himself) exemplify the precepts of this Fraternity in areas of academic excellence, involvement inside and outside the Fraternity, and general positivity. The scholarship is to be awarded to two different members during each of the Fall and Spring semesters, at $4,000 per winner (for a total of $16,000 across four individual awards during each school year).</p>

<p>Full information about this scholarship, including all applicant criteria and the history of the award, can be found at <a href="http://psutriangle.org/information/scholarships/#schp_ean_hong">http://psutriangle.org/information/scholarships/#schp_ean_hong</a>. In particular, note that you must be active during the <em>following</em> semester (i.e., Spring 2018) in order to be eligible.</p>

<p>The deadline to submit your application is Sunday, September 25th, 2016. Winners will be announced during the Homecoming Corporation Meeting on Saturday, October 8th, 2016.</p>

{% endblock %}
