th, td {
  border-collapse: collapse;
  border: 1px solid #bbb;
  padding: 5px;
  vertical-align: top;
}
th.odd, td.odd {
  background-color: #f0f0f0;
}
td.left-combine {
  border-right: 0px;
}
td.right-combine {
  border-left: 0px;
}
td div.form-group {
  margin-bottom: 0;
}
table {
  margin-bottom: 1.5em;
}

.btn-selector {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-selector:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-selector:focus, .btn-selector.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.btn-selector.active {
  color: #fff;
  background-color: #449d44;
  border-color: #398439;
}

div.submitted {
  text-align: center;
}
