{% extends "application.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="row">
  <div class="col-md-12">&nbsp;</div>
</div>
{% for selection in selections %}
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" data-toggle="buttons">
        {% if selection.selected %}
          <label class="btn btn-selector active">
            <input name="{{ selection.pk }}" type="checkbox" autocomplete="off" value="on" checked="checked">Apply for the {{ selection.name }}
          </label>
        {% else %}
          <label class="btn btn-selector">
            <input name="{{ selection.pk }}" type="checkbox" autocomplete="off">Apply for the {{ selection.name }}
          </label>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <p>{{ selection.description }}</p>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}
